@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: white;
    text-decoration: none;
}



html {
    font-size: 63.5%;
    max-width: 80vw;
    margin: 0 auto;
}

body {
    color: white;
    background-color: #1B1B25;
}

header {  
    padding: 2.7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem auto;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    align-items: center;
}

.nav-header-itens {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.8rem;
    border-color: transparent;
}

.nav-header-itens:hover {
    border-bottom: #ffffff98 2px solid;
}

.welcome {
    text-align: center;
    padding: 40px;
    font-weight: 400;
    padding-bottom: 35px;
}

.welcome-first-text {
    font-size: 7rem;
    text-shadow: 1px 1px 1px rgb(98, 0, 255);
    font-style: italic;
    font-family: 'Sarala', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.welcome-second-text {
    font-size: 2rem;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 10rem;
    margin: 0 auto;
}

#photo {
    height: 30.5rem;
    width: 30.5rem;
    border-radius: 50%;
}

.profile aside {
    align-items: center;
    justify-content: center;
}

.description {
    margin-top: 10px;
    border-left: #fff 1px solid;
    max-width: 30vw;
}

.description-text {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: justify;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 15px 0 5px 0;
}

.habilits {
    margin: 5px auto;
    margin-top: 10%;
    max-width: 850px;
}

.habilits h4 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'MuseoModerno', cursive;
    padding: 10px;
}

.habilits-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    padding: 50px;
    
    box-shadow: 3px 1px 5px 5px #bababa42;
    border-radius: 2rem;
}

.habilits-logo {
    height: 8.5rem;
    width: 8.5rem;
    padding: 10px;
}

.midia-social-link {
    display: flex;
    gap: 10px;
}

.habilits-logo:hover {
    transform: scale(1.1); 
}

.work-experience {
    margin: 4rem auto;
    padding: 1rem;
    max-width: 65vw;
}

.work-experience > div{
    margin-left: 2%;
    margin-top: 2rem;
}

.work-experience > h1 {
    font-weight: bold;
    font-size: 4.3rem;
    font-family: "Inter", sans-serif;

    font-style: italic;
}

.work-experience  > div > header {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}

.work-experience-title  {
    font-size: 1.8rem;
    font-weight: bold;
}

.work-experience-company  {
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: 0.5%;
    opacity: 0.60;
}
.period-work-experience {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.description-work-experience {
    padding: 1rem;
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: justify;
}

footer {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    min-height: 200px;
    max-width: 600px;
}

footer h2 {
    padding: 10px;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;   
    font-family: 'Nunito', sans-serif;
}

.social-links {
    padding: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.social-links a {
    font-family: sans-serif;
    display: inline;
    align-items: center;
    
    padding: 10px;
    gap: 50px;
}

.social-links a img {
    width: 25px;
    height: 25px;
}

.github-project {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(155, 155, 155);
    font-family: 'Merienda', cursive;
}

#github-project-link {
    border-bottom: 1px solid white;
}

.reference {
    font-size: 17px;
    font-weight: bold;
    color: rgb(155, 155, 155);
    font-family: 'Merienda', cursive;
}

@media (min-width: 768px) and (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
    }
    
    .description {
        max-width: none;
    }

    .description-text {
        padding: 1rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        height: 60vh;
        margin-bottom: 7.25rem;
        gap: 0;
    }

    .description {
        border: none;
    }

    #photo {
        height: 25rem;
        width: 25rem;
    }
}
@media (min-width: 415px) and (max-width: 767px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .description {
        border: none;
    }

    .nav-header {
        border: none;
    }

    .description-text {
        line-height: 1.4;
        padding: 1rem;
    }

    #photo {
        height: 20rem;
        width: 20rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        margin-bottom: 7.25rem;
        gap: 0;
    }

    .habilits {
        margin-bottom: 10%;
    }
    
    .description {
        max-width: none;
        border: inherit;
    }

    .github-project {
        font-size: 2rem;
    }
}

@media (max-width:414px) {
  
    header {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .nav-header {
        border: none;
        gap: 1rem;
    }

    .nav-header-itens {
        font-size: 1.5rem;
    }
    .welcome-first-text {
        font-size: 4.3rem;
    }
    
    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
    }

    #photo {
        height: 150px;
        width: 150px;
    }
    
    .description {
        max-width: inherit;
        border: none;
    }

    .description-text {
        font-size: 1.6rem;
        padding: 0;
    }

    .habilits {
        margin-bottom: 10%;
    }
    
    .habilits h4 {
        text-align: center;
        font-size: 3rem;
        width: 100%;
        margin: 0;
    }
    
    .work-experience {
        margin: 5px auto;
        padding: 0.5rem;
        max-width: 100%;
    }

    .work-experience h1 {
        padding: 10px;
        font-size: 3rem;
        text-align: center;
    }

    .work-experience-container > header {
        justify-content: start;
        align-items: start;
    }
    .work-experience-title {
        text-align: left;
    }

    .description-work-experience {
        text-align: justify;
        font-size: 1.5rem;
    }

    .habilits-logo {
        height: 75px;
        width: 75px;
    }

    .check-img {
        display: none;
    }
    footer h2 {
        font-size: 2rem;
    }
}
