@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Righteous&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}

html {
    font-size: 63.5%;
}

body {
    color: white;
    background-color: #1B1B25;
}

header {  
    padding: 2.7rem;
    /* border-bottom: 0.4px solid white; */
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

}

.nav-header-itens {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 1.8rem;
    border-bottom: 0.4px solid white;
}

.nav-header-itens:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);  
    color: white;
}

.welcome {
    text-align: center;
    padding: 40px;
    font-weight: 400;
    padding-bottom: 35px;
}

.welcome-first-text {
    font-size: 7rem;
    text-shadow: 1px 1px 1px rgb(98, 0, 255);
    font-style: italic;
    font-family: 'Sarala', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.welcome-second-text {
    font-size: 2rem;
    color: white;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    height: 90vh;
}

#mypicture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: baseline;   */
}

#photo {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    border: black solid 3px;
    display: flex;
    box-shadow: 3px 1px 5px 5px #bababa42;
}

.profile aside {
    align-items: center;
    justify-content: center;
}

.description {
    display: flex;  
    justify-content: space-around;
    margin-top: 10px;
}

.description-text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 200;
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 800px;
    margin: 15px 0 5px 0;
}

.habilits {
    margin: 5px auto;
    max-width: 850px;
    max-height: 400px;
}

.habilits h4 {
    font-size: 5em;
    font-weight: bold;
    font-family: 'MuseoModerno', cursive;
    padding: 10px;
}

.habilits-icon {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    padding: 50px;
}

.habilits-logo {
    height: 120px;
    width: 120px;
    border: solid 0.5px #fff;
    padding: 10px;
}

.midia-social-link {
    display: flex;
    gap: 10px;
}

img:hover {
    transform: scale(1.1); 
}

footer {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    min-height: 200px;
    max-width: 600px;
}

footer h2 {
    padding: 10px;
    font-size: 18pt;
    font-style: italic;
    font-weight: bold;   
    font-family: 'Nunito', sans-serif;
}

.social-links {
    padding: 10px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.social-links a {
    font-family: sans-serif;
    display: inline;
    align-items: center;
    font-size: 1.4rem;
    top: calc(50% - 12px);
    padding: 10px;
    gap: 50px;
}

.github-project {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgb(155, 155, 155);
    font-family: 'Merienda', cursive;
}

#github-project-link {
    border-bottom: 1px solid white;
}

.reference {
    font-size: 17px;
    font-weight: bold;
    color: rgb(155, 155, 155);
    font-family: 'Merienda', cursive;
}

@media (max-width:770px) {
    html {
        font-size: 50.5%;
    }

    .description-text {
        font-size: 2rem;
        line-height: 1.4;
    }
    .habilits {
        margin-bottom: 10%;
    }
    
    .habilits-logo {
        height: 75px;
        width: 75px;
    }

    .github-project {
        font-size: 2rem;
    }
}

@media (max-width:400px) {
    .welcome-first-text {
        font-size: 4rem;
    }
    
    #photo {
        height: 150px;
        width: 150px;
    }
    
    .description-text {
        font-size: 1.8rem;
    }
    
    .habilits {
        margin-bottom: 10%;
    }
    
    .habilits h4 {
        font-size: 3rem;
        
    }
    
    .habilits-logo {
        height: 60px;
        width: 60px;
    }

    footer h2 {
        font-size: 2rem;
    }
}
